# String Index

In [15]:
Budi = "ANTON MAKAN AYAM"
print(Budi[0:5])

ANTON

In [8]:
print(Budi[0:-1])

ANTON MAKAN AYA

In [11]:
# 2 = urutan ke 2 dari 0 (T)
# -1 = sampai A, sebelum M 
# 3 = loncat 3 kali
# loncat 3 kali = spasi 
# loncat 3 kali lagi = K
# loncat 3 kali lagi = spasi 
# loncat 3 kali lagi = A
print(Budi[2:-1:3])

T K A

In [12]:
print (Budi[1:5])

NTON

In [13]:
print(Budi[:])

ANTON MAKAN AYAM

In [ ]:
SAYA = "SAYA KULIAH DI UNIVERSITAS UDAYANA"

# Strings Methods

In [18]:
judul = "Universitas Udayana Kampus Tercinta"
print(len(judul))
# len artinya jumlah suku kata

35

In [19]:
judul.upper()
# upper digunakan untuk merubah kalimat menjadi huruf besar

'UNIVERSITAS UDAYANA KAMPUS TERCINTA'

In [20]:
judul.lower()
# lower digunakan untuk merubah kalimat menjadi huruf kecil

'universitas udayana kampus tercinta'

In [22]:
judul.find("Universitas")
# urutan dari huruf pertama, urutan dari U itu 0

0

In [23]:
judul.find("Kampus")

20

# Operasi Matematika di Python

In [24]:
print(100+450)

550

In [26]:
a = 40
b = 30
c = 10
print (a+b-c)
print (a+b-(-c))

60
80

In [27]:
print (a+b/c)

43.0

In [32]:
print (a*(b%c))

0

# Operator Perbandingan di Python

In [36]:
x = 7>5
print(x)
x = 7<5
print(x)
x = 7 >= 5
print(x)

True
False
True

In [44]:
# == artinya sama dengan 
x = 5 == 5
print(x)
# != artinya tidak sama dengan 
x = 5 != 7
print(x)
x = 7 != 7
print(x) # akan bernilai false karena 7 artinya sama dengan

True
True
False

In [43]:
x <= 4 >= 4
print (x)

False

### bernilai false karena pernyataan bernilai salah

# Operator Logika di Python

In [47]:
semangka = 25 
jeruk = 50
print(semangka > jeruk)

False

In [48]:
print (semangka > 10 and jeruk > 30)

True

In [49]:
print(semangka > 50 and jeruk > 70)

False

In [50]:
print(semangka < 30 or jeruk > 60)

True

# Operator If di Python

In [5]:
nilai = float(input("Nilai anda adalah "))
if nilai >= 80:
    print("Anda mendapatkan nilai A")
    print("Nilai anda sangat bagus, pertahankan!")
if nilai < 80 and nilai >= 70:
    print("Anda mendapatkan nilai B")
    print("Nilai anda baik, semangat belajar!")
if nilai >= 60 and nilai < 70:
    print("Anda mendapatkan nilai C")
    print("Nilai anda cukup, semangat belajar untuk meningkatkan nilai anda!")
if nilai >= 50 and nilai < 60:
    print("Anda mendapatkan nilai D")
    print("Silahkan mengulang tahun depan!")
if nilai < 50:
    print("Anda mendapatkan nilai E")
    print("Silahkan mengulang tahun depan!")

Nilai anda adalah 90
Anda mendapatkan nilai A
Nilai anda sangat bagus, pertahankan!