## While Loop

### While loop akan selalu dieksekusi selama nilainya True dan akan berhenti saat nilainya menjadi false

In [4]:
a = 0 
while a < 5:
    print ('Angka ' + str(a) + " masih dibawah 5")
    a += 1

Angka 0 masih dibawah 5
Angka 1 masih dibawah 5
Angka 2 masih dibawah 5
Angka 3 masih dibawah 5
Angka 4 masih dibawah 5

In [5]:
a = 6 
while a > 5 and a < 10:  
    print ("Angka " + str(a) +" berada diantara 5 sampai 10")
    a += 1

Angka 6 berada diantara 5 sampai 10
Angka 7 berada diantara 5 sampai 10
Angka 8 berada diantara 5 sampai 10
Angka 9 berada diantara 5 sampai 10

In [ ]:
x = 0 
while x < 2:
    y = x**2
    print (y)
    x = x-1
    prin t (x )
# akan menghasilkan hasil yang banyakk

In [1]:
a = 0 
while a < 5:
    print(a * "*")
    a += 1

*
**
***
****

In [3]:
a = 10
while a < 10: 
    print(a * "")

## List di Python

In [4]:
buah = ['mangga', 'pisang', 'rambutan', 'durian']
print(buah)

['mangga', 'pisang', 'rambutan', 'durian']

In [5]:
print (buah[0])

mangga

In [6]:
print (buah[-1])

durian

In [7]:
buah [0] = anggur
# eror karena anggur tidak masuk di daftar buah

NameError: name 'anggur' is not defined

In [8]:
bilangan_asli = ["1", "2", "3", "4", "5", "dst"]
print (bilangan_asli)

['1', '2', '3', '4', '5', 'dst']

## Metoda List

### Menambahkan atau menghilangkan isinya

In [9]:
nama = ["Yuni", "Eka", "Deswin"]
nama.append("Intan")
# append artinya nambahin tp posisinya di belakang 
print(nama)

['Yuni', 'Eka', 'Deswin', 'Intan']

In [10]:
# insert menambahkan (urutan, nama)
nama.insert(1,"Anton")
print(nama)

['Yuni', 'Anton', 'Eka', 'Deswin', 'Intan']

In [11]:
nama.remove('Eka')
print(nama)

['Yuni', 'Anton', 'Deswin', 'Intan']

In [12]:
print("Eka" in nama)

False

In [13]:
print("Yuni" in nama)

True

In [14]:
# jumlah banyak nama 
print(len(nama))

4

In [15]:
bilangan_genap = ['2','4','6','10','12']
print (bilangan_genap)

['2', '4', '6', '10', '12']

In [16]:
bilangan_genap.insert(3,'8')
print(bilangan_genap)

['2', '4', '6', '8', '10', '12']

In [17]:
print("10" in bilangan_genap)

True

In [18]:
bilangan_genap.remove('4')
print(bilangan_genap)

['2', '6', '8', '10', '12']

## For Loop

### For Loop dapat digunakan untuk memanggil semua isi list

In [19]:
buah = ['mangga', 'pisang', 'rambutan', 'durian']
for jenis in buah: 
    print(jenis)

mangga
pisang
rambutan
durian

In [20]:
i = 0
while i < len(buah):
    print(buah[i])
    i+=1

mangga
pisang
rambutan
durian

In [21]:
bilangan_genap = ['2','4','6','10','12','14']
for angka in bilangan_genap:
    print(angka)

2
4
6
10
12
14

In [3]:
i = -1
while i < len(bilangan_genap):
    print(bilangan_genap[i])
    i-=1
# eror karena bilangan selanjutnya tidak ada

14
12
10
6
4
2

IndexError: list index out of range

## Fungsi Range

In [22]:
angka = range(12)
print (angka)

range(0, 12)

In [23]:
for isi in angka:
    print (isi)
# menampilkan angka 1 sampai 11

0
1
2
3
4
5
6
7
8
9
10
11

In [25]:
for isi in range(15,20):
    print(isi)
# menampilkan angka 15 sampai 19

15
16
17
18
19

In [27]:
for isi in range (5,20,3):
    print (isi)
# bilangan dari 5 sampai 10 dengan format +3 atau loncat 3

5
8
11
14
17